/*------------------------------------------------------------------
[Stylesheet]
Color Scheme - Light
-------------------------------------------------------------------*/

.hero_fullscreen,
nav a,
#message,
.cta_button_area a{
	color:white;
}

.hero_fullscreen {
	background-color: #212121;
}

.preloader_header,
.subsection,
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
	background-color: #fafafa;	
}

.preloader_header .preloader_loader svg path.preloader_loader_circlebg {
    stroke: rgba(0, 0, 0, .1);
}

.preloader_header .preloader_loader svg path.preloader_loader_circle {
    transition: stroke-dashoffset 0.2s;
    stroke: rgba(0, 0, 0, .3);
}
 
.contact_form input[type=text],
.contact_form input[type=password],
.contact_form input[type=email],
.contact_form input[type=date],
.contact_form input[type=tel],
.contact_form textarea {
	border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.background_color1 {
	background:white;
}

.background_color2 {
	background: #fafafa;
}

.iconbox_icon {
    color: rgba(0,0,0,0.5)
}

.nivo-lightbox-theme-default .nivo-lightbox-close,
.nivo-lightbox-theme-default .nivo-lightbox-nav {
	color:black
}

#reviews .owl-theme .owl-controls .owl-page span {border-color:black !important; background: rgba(0,0,0,0)}
#reviews .owl-theme .owl-controls .owl-page.active span,
#reviews .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: rgba(0,0,0,1);
	border-color:black !important
}